<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Node.js</title>
    <style>
        body {
            line-height: 1.5;
        }
        .container {
            width: 66%;
            margin: 32px auto;
        }

        li {
            margin: 24px 0;
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>欢迎您， 来到 宿舍万事通！</h1>
    <h2>宿舍万事通1.0</h2>
    <ul>
        <p>1.0主要是构建基础架构，时间：2022.12.5</p>
        <li>增加文章怎删改查功能</li>
        <li>增加评论回复功能</li>
        <li>增加个人中心</li>
    </ul>
    <hr>
    <ul>
        <p>1.1增加功能，时间：2023.2.16</p>
        <li>增加宿舍商店功能</li>
        <li>增加首页轮播同</li>
        <li>增加消息中心</li>
    </ul>
    <hr>
    <ul>
        <p>1.2增加功能，时间：2023.3.24</p>
        <li>增加浏览点赞功能</li>
        <li>增加匿名点赞功能</li>
    </ul>
</div>
</body>
</html>
